{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="container mt-4">
    <h2>Who I Am</h2><br>
            <p>With a Bachelor’s in Financial Services and a Minor in Economics, I am currently applying to Georgia Tech for a Master of Science in Analytics. I plan to supplement my graduate studies with a MicroMasters in Finance, with the ultimate goal of becoming a Quantitative Analyst/Researcher.</p>

            <p>Beyond academics, I’m passionate about martial arts, travel, and photography. Below is an interactive map featuring some of the places I’ve explored.</p><br>
            <p>Click on the pins to view photo galleries from my journeys.</p>

            <!-- Include the Map and Gallery -->
            {% include "map.html" %}
        </div>
    </div>
</div>
{% endblock %}