<div class="concepts-section">
    <h3>Coursework</h3>
    <ul class="concept-list">
        <li class="hover-container">
            <span class="hover-item">Time Series Analysis</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
        <li class="hover-container">
            <span class="hover-item">Portfolio Management</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
        <li class="hover-container">
            <span class="hover-item">Investments</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
        <li class="hover-container">
            <span class="hover-item">International Finance</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
        <li class="hover-container">
            <span class="hover-item">Introduction to Computer Science</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
        <li class="hover-container">
            <span class="hover-item">Introduction to Programming with Python</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
        <li class="hover-container">
            <span class="hover-item">Computing for Data Analysis</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
        <li class="hover-container">
            <span class="hover-item">Data Analytics for Business</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
        <li class="hover-container">
            <span class="hover-item">Introduction to Analytics Modeling</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
    </ul>
</div>