{% extends "layout.html" %}

{% block title %}
    Group Project
{% endblock %}

{% block main %}
<h1>Group Project</h1>
<p>Over the entirety of the course MGT 6203, students worked on a project. 
    Our group had total control over the project, including picking the dataset, statistical methodologies, and focus of the presentation.</p>
<p>We picked a dataset dealing with the healtcare industry. The dataset had more than 300,000 data points with 15 predictors and 2 response variables.</p> 
<p>Using R, we were able to perform a linear regression on all of the predictor variables with Healthcare Cost. We also were able to deploy a Logistic Regression between all of the predictors with a category called "Health Outcome" to determine what role each predictor played in terms of going from a "Healthy" Outcome to the "At-Risk" or "Critical" Outcome categories.</p>
<iframe width="900" height="500" src="https://www.youtube.com/embed/ZDmbDzwjWJc?si=l5FpKnN7yJR2WbUZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}