{% extends "layout.html" %}

{% block title %}

    Home

{% endblock %}

{% block main %}
<div class="container mt-4">
    <img src="{{ url_for('static', filename='profile_picture.JPG') }}" alt="Profile Picture" class="img-fluid rounded">
    <h2>Hello, World...</h2>
    <p>My name is John Nolan and this is my personal website.</p>
    <p>The purpose of this website will be to showcase some of my projects as well as some other information about me.</p>
    <p>What I'm currently learning: Mathematics for Machine Learning</p>
    <p>Projects I'm currently working on:</p>
    <p>Goals: Masters in Analytics, MicroMasters in Finance</p>
    <p>Timetable: Start Masters in Fall of 2025, focus on math prerequisites, begin taking Finance MicroMasters courses. Start applying for internships Q1 2026, Intern Summer 2026, Graduate OMSA December 2026</p>
</div>
{% endblock %}
