{% extends "layout.html" %}

{% block title %}

    Home

{% endblock %}

{% block main %}
<div class="container mt-4">
    <h2>Hello, World...</h2>
    <img src="{{ url_for('static', filename='profile_picture.JPG') }}" alt="Profile Picture" class="img-fluid rounded"><br><br><br>
    <p>Welcome to my personal website—I’m John Nolan. Here, you’ll find my digital resume, a portfolio of my projects, and additional insights about my background and interests.</p>
    <p>What I'm currently working on: Studying Calculus, refreshing my probability fundamentals, and preparing for <a href= "https://prosperity.imc.com/" target="_blank">Prosperity</a>.</p>
</div>
{% endblock %}
