{% extends "layout.html" %}

{% block title %}
    Monte Carlo Simulation
{% endblock %}

{% block main %}
<h1>Monte Carlo Simulation</h1>
<p>For one of my MicroMasters classes, I was tasked with finding an Analytics article and speculating
    what methodoligies or analytical approach was taken to achieve an outcome.
</p>
<p>
    I picked an <a href="https://www.sas.com/en_us/customers/wescom-credit-union.html" target="_blank">article</a> 
    where a credit union used the services of SAS, an analytics company, to 
    bolst the precision of its lending forecasts, streamline regulatory compliance processes, and enhance portfolio responsiveness.
</p>
<p>Knowing the end result, I speculated the exact approach SAS took to achieve these goals. </p>
<p><a href ="/static/montecarlo_project.pdf" target="_blank">Write-Up</a></p>
{% endblock %}