<div class="coursework-sidebar">
    <h3>Degrees & Certifications</h3>
    <ul>
        <li class="hover-container">
            <span class="hover-item">Bachelor's Degree</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
        <li class="hover-container">
            <span class="hover-item">Certifications</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
        <li class="hover-container">
            <span class="hover-item">MicroMasters</span>
            <div class="hover-description"> Finance, Econ</div>
        </li>
    </ul>
</div>