{% extends "layout.html" %}

{% block title %}
    Health Metrics
{% endblock %}

{% block main %}
<p>I started this project as a passion project. I have X bluetooth devices that monitor X Health Metrics.
    These metrics are then loaded into both Fitbit and Garmin, locked behind their API. I have created an program to 
    access these APIs and update the API keys if they are out of date, then create a dataframe and generate a report. 
    I have currently built out a Weekly and Monthly Report, with plans for further analysis, including visually.

    Ongoing, I would like to store all data in a database as currently every call I make has to go through the APIs,
    meaning thousands of data points are called upon.

    I would additionally like to scale the project to allow for different users to use this.
</p>
<p>Code:</p>
<p>Video:</p>
{% endblock %}